<!DOCTYPE html>
<hmtl>
  <head>
   <link rel="stylesheet" type="text/css" href="static/floundercss2.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Flounder.</title>
    </head>
    <body>
        <h2>Create a Flounder account:</h2>

        <div class="center3">
	  <div class="whatevs">
            <form id="form" method="POST">
                <p>Username:<br>
                <input type="text" name="userid" required></p>
                <p>Email:<br>
                <input type="text" name="email" required></p>
                <p>Password:<br>
                <input type="password" name="password" required></p>
                <p>Confirm Password:<br>
                  <input type="password" name="confirmPassword"required></p><p></p>
		</div>
                <input class="hvr-bubble-right" type="submit" value="Submit">
            </form> 
        </div>
        
        
        &nbsp
        <div class="center3">
        <a href="home" class="hvr-bubble-left ">Go Back</a>
        </div>
    </body>
</hmtl>
