<!DOCTYPE html>
<hmtl>
  <head>
   <link rel="stylesheet" type="text/css" href="static/floundercss2.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Flounder.</title>
  </head>
  
    <body>
        <h2>Login to Flounder:</h2>
        
        <div class="center3">
            <form id="form" method="POST">
                <p>Userame:
                    <input type="text" name="userid"></p>
                <p>Password:
                    <input type="password" name="password"></p>
                
                <input class="hvr-bubble-right" type="submit" name="submit" value="Login">
            </form> 
        </div>
        
        
        
        
        
        <div class="center3">
            <a href="home" class="hvr-bubble-left ">Go Back</a>
            <a href="createaccount" class="hvr-bubble-right2 ">Create Account</a>
        </div>
    </body>
</hmtl>
